body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding-top: 50px;
    background-image: url("./assets/RAINFALL.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: gray;
    padding: 4px 4px;
    width: 50%;
    border-radius: 8px;
    margin-top: 20px;
}

p {
    font-family: sans-serif;
    font-size: 20px;
}

.container p {
    font-weight: 800;
}

.search-box {
    width: 80%;
    height: 80%;
    min-height: fit-content;
    display: inline-flex;
    justify-content: space-between;
    border: 10px black;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.search-box:focus {
    background-color: rgba(133, 41, 87, 0.169);
}

button {
    margin-left: 15px;
    font-size: 10 px;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}

.weather-body {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.weather-body img {
    width: 40%;
}

.weather-box {
    margin-block: 4px;
    align-items: center;
    display: inline-block;
    text-align: left;
}

.weather-box > p {
    font-size: 20px;
    font-weight: 700;
}

.weather-box .temprature {
    font-size: 20px;
    font-weight: 900;
    position: relative;
}

.weather-box .temprature sup {
    font-size: 10px;
    position: absolute;
}

.search-box .description {
    font-weight: 500;
    font-size: 10px;
}

.weather-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
}

.weather-details i {
    font-size: 30px;
}

.weather-details p {
    font-size: 15px;
    font-weight: 500;
}

.weather-details > div {
    margin: 0 10px;
    text-align: center;
}

.weather-Image {
    width: 100px;
    height: 100px;
}

.date-time {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

#convert button {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}

.button-container {
    display: inline-block;
}

.button-container button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}